
  h3{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: arial,Times New Roman;
    text-align: center;
  }
  .a4 ｛
  border: 0.5rem outset pink;
  outline: 0.5rem solid khaki;
  box-shadow: 0 0 0 2rem skyblue;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
｝

  h1{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: arial,Times New Roman;
    color: black;
    text-align: center;
  }
  table.info {
    width: 100%;
    table-layout: fixed;
  }
  .info tr{
    align-content: center;
    width: 60%;
  }
  .info th{
    width: 10%;
    text-align: right;
  }
  .info td{
    width: 30%;
  }
  .info input{
    width: 250px;
  }
  table.ty {
    width: 100%;
  }
  table.hn {
    width: 100%;
  }
  table.gf {
    width: 100%;
  }
  table.dx {
    width: 100%;
  }
  .zhuganguantable {
    background-color: aqua;
    table-layout: fixed;
    width:500px;
  }
  .zhuganguantd {
    margin: 0;
    width: 20%;
  }